@model Book
<h1> @(Model.Id ==0?"Create":"Edit") a Book</h1>
<form method="post">
    <div class="border p-3 mt-4">
        <input asp-for="Id" hidden/>
        <div class="row mb-3">
            <label asp-for="Title"></label>
            <input asp-for="Title">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Author"></label>
            <input asp-for="Author">
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Price"></label>
            <input asp-for="Price">
            <span asp-validation-for="Price" class="text-danger"></span>
         </div>
        <div class="row mb-3">
            <label asp-for="CategoryId"></label>
            <input asp-for="CategoryId">
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <div class="btn group" role="group">
            @if (Model.Id == 0)
            {
                <button type="submit" class="btn btn-primary">Create</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary">Update</button>
            }
            
            <a asp-controller="Book" asp-action="Index" class="btn btn-primary">
                Back to List
            </a>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name = "_ValidationScriptsPartial"/>
    }
}